<footer class="footer">
  <div class="container" style="min-height: 50px;text-align: center;">
      <p>
          Copyright © 2021. <strong>deelter.com</strong> All rights reserved.<br>
          BUG反馈请联系开发者QQ号: <a href={if:$is_mobile}"mqqwpa://im/chat?chat_type=wpa&uin=523340889&version=1&src_type=web&web_src=oicqzone.com"{else}"tencent://message/?uin=523340889&Site=Sambow&Menu=yes"{endif}>523340889</a>
          <br><a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank">蜀ICP备20005552号-1</a>
      </p>
  </div>
</footer>

</body>
</html>
